@model Doan_ASP.NET_MVC.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped" method="Get">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Brand.brand_name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Category.category_name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.product_name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.product_image)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.product_price)
                                    </th>

                                    <th>
                                        @Html.DisplayNameFor(model => model.product_quantity)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.product_size)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Origin.origin_name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.hot_product)
                                    </th>
                                    <th>@Html.DisplayNameFor(model => model.sale.sale_name)</th>
                                    <th>@Html.DisplayNameFor(model => model.productsale)</th>
                                    <th>@Html.DisplayNameFor(model => model.product_description)</th>

                                </tr>
                            </thead>
                            <tbody>
                                
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(model => model.Brand.brand_name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.Category.category_name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.product_name)
                                        </td>
                                        <td>
                                           <img src="~/@Html.DisplayFor(model => model.product_image)" width="95" /></a>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.product_price)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(model => model.product_quantity)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.product_size)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.Origin.origin_name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.hot_product)
                                        </td>
                                        <td>@Html.DisplayFor(model => model.sale.sale_name)</td>
                                        <td>@Html.DisplayFor(model => model.productsale)</td>
                                        <td>@Html.TextAreaFor(model => model.product_description)</td>

                                    </tr>
                                
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Brand.brand_name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Category.category_name)
                                    </th>
                                    <th>

                                        @Html.DisplayNameFor(model => model.product_name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.product_image)
                                    </th>
                                    <th>

                                        @Html.DisplayNameFor(model => model.product_price)
                                    </th>

                                    <th>
                                        @Html.DisplayNameFor(model => model.product_quantity)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.product_size)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Origin.origin_name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.hot_product)
                                    </th>
                                    <th>@Html.DisplayNameFor(model => model.sale.sale_name)</th>
                                    <th>@Html.DisplayNameFor(model => model.productsale)</th>
                                    <th>@Html.DisplayNameFor(model => model.product_description)</th>

                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>