@model IEnumerable<Doan_ASP.NET_MVC.Models.Product>

@{
    ViewBag.Title = "Product_Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Begin Li's Breadcrumb Area -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a href="@Url.Action("Index","Home")">Home</a></li>
                <li class="active">Product Detail</li>
            </ul>
        </div>
    </div>
</div>
<!-- Li's Breadcrumb Area End Here -->
<!-- content-wraper start -->
<div class="content-wraper">
    <div class="container">
        <div class="row single-product-area">
            @foreach (var item in Model)
            {

                {
                    Html.RenderAction("Image_Detail", "Product", new { id = item.product_id });
                }

                <div class="col-lg-7 col-md-6">
                    <div class="product-details-view-content sp-sale-content pt-60">
                        <div class="product-info">
                            <h2>@item.product_name</h2>
                            <span class="product-details-ref">Reference: demo_15</span>
                            <div class="rating-box pt-20">
                                <ul class="rating rating-with-review-item">
                                    <li><i class="fa fa-star-o"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                    <li><i class="fa fa-star-o"></i></li>
                                    <li class="no-star"><i class="fa fa-star-o"></i></li>
                                    <li class="no-star"><i class="fa fa-star-o"></i></li>
                                    <li class="review-item"><a href="#">Read Review</a></li>
                                    <li class="review-item"><a href="#">Write Review</a></li>
                                </ul>
                            </div>
                            <div class="price-box pt-20">
                                @if (item.sale_id != null)
                                {
                                    <span style="padding-right: 20px;" class="new-price new-price-2">@String.Format("{0:#,##0.##}", item.productsale) đ</span>
                                    <span class="old-price">@String.Format("{0:#,##0.##}", item.product_price)đ</span>
                                    <span class="discount-percentage">-@item.sale.sale_name%</span>
                                    <div class="countersection">
                                        <div class="li-countdown"></div>
                                    </div>
                                }
                                else
                                {
                                    <span class="new-price new-price-2">@String.Format("{0:#,##0.##}", item.product_price) đ</span>
                                }
                            </div>

                            <div class="product-desc">
                                <p>
                                    <span style="font-size: 18px;">
                                        @*@item.product_description*@
                                        @Html.Raw(item.product_description)
                                    </span>
                                </p>
                            </div>
                            <div class="product-variants">
                                <div class="produt-variants-size">
                                    <label>Dimension</label>
                                    <select class="nice-select">
                                        <option value="@item.product_size" title="S" selected="selected">@item.product_size</option>
                                    </select>
                                </div>
                            </div>
                            <div class="single-add-to-cart">
                                <form action="@Url.Action("ThemVaoGio_Detail","Cart")" method="post" class="cart-quantity">
                                    <input type="hidden" name="SanPhamID" value="@item.product_id"></input>
                                    <div class="quantity">
                                        <label>Quantity</label>
                                        <div class="cart-plus-minus">
                                            <input class="cart-plus-minus-box" name="soluong" value="1" type="text">
                                            <div class="dec qtybutton"><i class="fa fa-angle-down"></i></div>
                                            <div class="inc qtybutton"><i class="fa fa-angle-up"></i></div>
                                        </div>
                                    </div>
                                    <button class="add-to-cart" type="submit">Add to cart</button>
                                </form>
                            </div>
                            <div class="product-additional-info pt-25">
                                <a class="wishlist-btn" href="wishlist.html"><i class="fa fa-heart-o"></i>Add to wishlist</a>
                                <div class="product-social-sharing pt-25">
                                    <ul>
                                        <li class="facebook"><a href="#"><i class="fa fa-facebook"></i>Facebook</a></li>
                                        <li class="twitter"><a href="#"><i class="fa fa-twitter"></i>Twitter</a></li>
                                        <li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i>Google +</a></li>
                                        <li class="instagram"><a href="#"><i class="fa fa-instagram"></i>Instagram</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="block-reassurance">
                                <ul>
                                    <li>
                                        <div class="reassurance-item">
                                            <div class="reassurance-icon">
                                                <i class="fa fa-check-square-o"></i>
                                            </div>
                                            <p>Security policy (edit with Customer reassurance module)</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="reassurance-item">
                                            <div class="reassurance-icon">
                                                <i class="fa fa-truck"></i>
                                            </div>
                                            <p>Delivery policy (edit with Customer reassurance module)</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="reassurance-item">
                                            <div class="reassurance-icon">
                                                <i class="fa fa-exchange"></i>
                                            </div>
                                            <p> Return policy (edit with Customer reassurance module)</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            }
        </div>
    </div>
</div>
<!-- content-wraper end -->
<!-- Begin Product Area -->
<div class="product-area pt-35">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="li-product-tab">
                    <ul class="nav li-product-menu">
                        <li><a class="active" data-toggle="tab" href="#description"><span>Thông tin thêm</span></a></li>
                        <li><a data-toggle="tab" href="#product-details"><span>Bình luận</span></a></li>
                    </ul>
                </div>
                <!-- Begin Li's Tab Menu Content Area -->
            </div>
        </div>
        <div class="tab-content">
            <div id="description" class="tab-pane active show" role="tabpanel">
                <div class="product-description">
                    <span>
                        <b>Tình trạng:</b> <br />
                        Mới, đầy đủ phụ kiện từ nhà sản xuất <br />
                        <br/>
                        <b>Bảo hành:</b> <br />
                        Bảo hành chính hãng 12 tháng tại trung tâm bảo hành ủy quyền, 1 đổi 1 trong 30 ngày nếu có lỗi phần cứng từ NSX.
                    </span>
                </div>
            </div>
            <div id="product-details" class="tab-pane" role="tabpanel">
                <div class="product-details-manufacturer">
                    <div class="fb-comments" data-href="https://localhost:44388/Product/Product_Detail/" data-width="100%" data-numposts="5"></div>
                </div>
            </div>
           
        </div>
    </div>
</div>
<!-- Product Area End Here -->
<!-- Begin Li's Laptop Product Area -->
<section class="product-area li-laptop-product pt-30 pb-50">
    <div class="container">
        <div class="row">
            <!-- Begin Li's Section Area -->
            @foreach (var item in Model)
            {


                {
                    Html.RenderAction("Getproduct_same", "Product", new { id = item.category_id });
                }


            }
            <!-- Li's Section Area End Here -->
        </div>
    </div>
</section>
<!-- Li's Laptop Product Area End Here -->
